.contactContainer{
    border: 5px solid black;
    border-radius: 12px;
    margin: 18px;
    padding: 10px;
    text-align: center;
    
}
.contactinfo{
    text-align: center;
    margin: 18px;
    border-radius: 12px;
    background-color: cornflowerblue;
    height: 400px;
    padding: 12px;
    padding-top: 40px;
    margin-top: 100px;
}
.contactimg{
    height: 150px;
    width: 500px;
    border-radius: 35px;
    margin: 15px;
}